<!-- LOGO CENTRADO -->
<div class="row text-center">
    <div class="col"></div>
    <img class="col imagen" src="/public/img/sensor.png" alt="sensor">
    <div class="col"></div>
</div>


<!-- CONTENIDO -->
<div class="row text-center">
    <div class="col p-3">
        <div class="tarjeta card text-center p-3 text-dark">
            <h1  class="mb-3 text-dark" style="text-decoration: underline;">Iniciar sesión</h1>
            <div class="row">
                <div class="col-sm">
                    <form action="/" method="POST">
                        <label class="label mb-0" for="numero">Número de cuenta</label><br />
                        <input class="caja" style="font-style:italic;" type="text" id="numero" name="numero" value="" placeholder="Numero de cuenta" autofocus><br />
                        <label class="label mb-0" for="pass">Contraseña</label class="label m-0"><br />
                        <input class="caja" style="font-style:italic;" type="password" id="pass" name="pass" value="" placeholder="Contraseña"><br />
                        <input class="btn btn-primary" type="submit" value="Iniciar sersión">
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>