<!-- CONTENIDO -->
<h1  class="mb-3 text-white" style="text-decoration: underline;">Despacho de permisos a usuarios</h1>
<div>
    <h1 class="text-white">
    {{#times 7}}
    </h1>
    <div class="col col-sm-10 col-md-6 col-lg-4 tarjeta-media tarjeta-super card text-center text-dark">
        <h2 class="mb-0">Permiso solicitado</h2>
        <p class="">Deme periso para ir por unos tacos el dia que entra porfa plis tengo hambre, yaestoy harto :'c</p>
        <input class="btn btn-success" type="submit" value="Otorgar">
        <input class="btn btn-danger" type="submit" value="denegar">
    </div>
    {{/times}}
</div>